<h2>gmap</h2>

<input id="address" type="textbox" value="GeekSalon">
<input type="button" value="Encode" onclick="codeAddress()">
<div id="display">何かが表示される、、、、！</div>

<div id='map'></div>

<%# ビューに直接スタイルを当てて大きさを指定しているが、マップの大きさを指定しないと表示されないので本来はCSSに書く %>
<style>
#map {
  height: 600px;
  width: 600px;
}
</style>

<script>
let map
let geocoder
const display = document.getElementById('display')

function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    //   centerで初期位置の緯度経度を示してる。（latが緯度、lngが経度）
    center: {lat: 40.7828, lng:-73.9653},
    // zoomは表示領域の大きさ（０〜２１まである）
    zoom: 12,
  });

  //  positionに指定した座標にピンを表示させます
  marker = new google.maps.Marker({
    position:  {lat: 40.7828, lng:-73.9653},
    map: map
  });
}


// 検索ボタンのコードが押された時に実行される
function codeAddress(){
    // 検索フォームの内容を取得
  let inputAddress = document.getElementById('address').value;

  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    //   該当する検索結果がヒットした時に、地図の中心を検索結果の緯度経度に更新する
    if (status == 'OK') {
      map.setCenter(results[0].geometry.location);
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
       display.textContent = "検索結果：" + results[ 0 ].geometry.location
    } else {
        // 検索結果がヒットしなかった時に表示
      alert('該当する結果がありませんでした：' + status);
    }
  });   
}

</script>
<%# <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap" async defer></script> の「YOUR_API_KEY」部分にAPIキーを入れる  %>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhGa96vepJ21aZm5AVqXD8FSv0w1r0HxQ&callback=initMap" async defer></script>